/*Full body changes*/
html, body {

    width: 100%;
    min-height: 100%;

	/*background*/
	background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url(../Includes/Background/frontend.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
html{
	margin: 0;
}

/*General item changes*/
nav{
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: whitesmoke;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0.5% 2.5% 0;
	/*background: white;*/
	line-height: 1.8;
}
h1 {
	font: 7em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h2 {
	font: 4em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 3em;
}
h4 {
	font-size: 2.5em;
}
p {
    text-indent: 0px;
    color: whitesmoke;
}
a{
    font-size: 120%;
	color: black;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: 1.5em;
	line-height: 4em;
	margin-top: 1em;
    color: whitesmoke;
}
#wborder{
	border: 10px solid white;
}

/*Making items full width*/
.wide{
	width: 100%;
  	z-index: 0;
}
#width{
	width:100%;
}

/*Changing the size of BLACK NAVBAR ITEMS*/
#xlarge{
	font-size: 250%;
	color: black;
}
#large{
	font-size:170%;
	color: black; 
}
#medium{
	font-size: 100%;
	color: black;
}

/*Changine the size of WHITE PARAGRAPH ITEMS*/
#pmedium{
	font-size: 300%;
}
#psmall{
	font-size: 200%;
}
#ptiny{
	font-size: 50%;
}
#pbsmall{
	font-size: 177%;
	color: black;
	line-height: 200%;
}
#pblarge{
	font-size: 500%;
	color: black;
	line-height: 250%;
}
#pbmedium{
	font-size: 300%;
	color: black;
	line-height: 250%;
}
#smaller{
	font-size: 70%;
	line-height: 50%;
}

/*Tags for changing the background color of the top of the chat box*/
.panel-default > .panel-heading {
  background-color: black;
}

/*Specialized tags*/
#whiteback{
	background-color: white;
}
#white{
	color: white;
}
#border{
	padding-top: 15px;
}
#black{
    color: black;
}

/*Object Tags*/
#pad{
    padding: 1em;
}
.image {
    /* min-width: 100%; REMOVE THIS */
    max-width: 100%;
    height: auto;
}
.img-thumb{
    width: auto;
    height: 200px;
}

/*Modal Tags*/
img.details{
    width: 90%;
    margin: 15px auto;
}

/*Login tags*/
#login-form{
	width: 50%;
	height: 60%;
	border: 2px solid white;
	border-radius: 15px;
	box-shadow: 7px 7px 15px rgba(0,0,0,0.9);
	margin: 8% auto;
	padding: 15px;
	text-shadow: 7px 7px 15px rgba(0,0,0,0.9);
}

/*buy page*/
#product{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

/*making the modal not mess up the scroll bar*/
.modal.in {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.modal-open {
    overflow: inherit;
}